In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout
from tensorflow.keras.callbacks import EarlyStopping

In [ ]:
data = pd.read_csv('/content/housing (1).csv')

In [ ]:
data.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [ ]:
data.shape

(20640, 10)

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [ ]:
data.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,20640.000000,20640.000000,20640.000000,20640.000000,20433.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,-119.569704,35.631861,28.639486,2635.763081,537.870553,1425.476744,499.539680,3.870671,206855.816909
std,2.003532,2.135952,12.585558,2181.615252,421.385070,1132.462122,382.329753,1.899822,115395.615874
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.800000,33.930000,18.000000,1447.750000,296.000000,787.000000,280.000000,2.563400,119600.000000
50%,-118.490000,34.260000,29.000000,2127.000000,435.000000,1166.000000,409.000000,3.534800,179700.000000
75%,-118.010000,37.710000,37.000000,3148.000000,647.000000,1725.000000,605.000000,4.743250,264725.000000
max,-114.310000,41.950000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [ ]:
data.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [ ]:
data.duplicated().sum()

0

In [ ]:
data.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [ ]:
data.dropna(inplace = True)

In [ ]:
data.isnull().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
ocean_proximity       0
dtype: int64

In [ ]:
data.shape

(20433, 10)

In [ ]:
data['ocean_proximity'].value_counts()

ocean_proximity
<1H OCEAN     9034
INLAND        6496
NEAR OCEAN    2628
NEAR BAY      2270
ISLAND           5
Name: count, dtype: int64

In [ ]:
data['ocean_proximity'] = data['ocean_proximity'].map({'<1H OCEAN':0,'INLAND':1,'NEAR OCEAN':2,'NEAR BAY':3,'ISLAND':4})

In [ ]:
data.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,3
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,3
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,3
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,3
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,3

In [ ]:
x = data.drop(columns = ['median_house_value'])
y = data['median_house_value']

In [ ]:
x.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,3
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,3
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,3
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,3
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,3

In [ ]:
y.sample(4)

10       281500.0
274      253000.0
2819      69400.0
17450    249300.0
Name: median_house_value, dtype: float64

In [ ]:
data['median_house_value'].value_counts()

median_house_value
500001.0    958
137500.0    119
162500.0    116
112500.0    103
187500.0     92
           ...
359200.0      1
51200.0       1
39800.0       1
377600.0      1
47000.0       1
Name: count, Length: 3833, dtype: int64

In [ ]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2, random_state=42)

In [ ]:
x_train.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity
17727,-121.80,37.32,14.0,4412.0,924.0,2698.0,891.0,4.7027,0
2057,-119.63,36.64,33.0,1036.0,181.0,620.0,174.0,3.4107,1
6453,-118.06,34.12,25.0,3891.0,848.0,1848.0,759.0,3.6639,1
4619,-118.31,34.07,28.0,2362.0,949.0,2759.0,894.0,2.2364,0
15266,-117.27,33.04,27.0,1839.0,392.0,1302.0,404.0,3.5500,2

In [ ]:
x_test.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity
14416,-117.24,32.79,20.0,961.0,278.0,525.0,254.0,3.1838,2
16383,-121.29,38.01,2.0,6403.0,1116.0,3327.0,957.0,4.4871,1
7731,-118.14,33.92,31.0,3731.0,853.0,2313.0,801.0,3.2237,0
1410,-122.07,37.94,30.0,1260.0,276.0,707.0,221.0,2.8920,3
1335,-121.89,37.99,4.0,2171.0,597.0,928.0,461.0,4.1016,1

In [ ]:
y_train.head()

17727    227600.0
2057     110400.0
6453     248100.0
4619     305600.0
15266    214600.0
Name: median_house_value, dtype: float64

In [ ]:
min = MinMaxScaler()
x_train_norm = min.fit_transform(x_train)
x_test_norm = min.transform(x_test)

In [ ]:
x_train_norm

array([[0.25809717, 0.50797024, 0.25490196, ..., 0.14635751, 0.28984428,
        0.        ],
       [0.47773279, 0.4357067 , 0.62745098, ..., 0.02844927, 0.20074206,
        0.25      ],
       [0.63663968, 0.16790648, 0.47058824, ..., 0.12465055, 0.21820389,
        0.25      ],
       ...,
       [0.60020243, 0.15621679, 0.80392157, ..., 0.05936524, 0.1792458 ,
        0.        ],
       [0.23380567, 0.53453773, 0.21568627, ..., 0.17365565, 0.33020234,
        0.75      ],
       [0.19433198, 0.55154091, 1.        , ..., 0.10623253, 0.23403125,
        0.75      ]])

In [ ]:
x_test_norm

array([[0.71963563, 0.02656748, 0.37254902, ..., 0.041605  , 0.185094  ,
        0.5       ],
       [0.3097166 , 0.58129649, 0.01960784, ..., 0.15721099, 0.27497552,
        0.25      ],
       [0.62854251, 0.1466525 , 0.58823529, ..., 0.13155731, 0.18784568,
        0.        ],
       ...,
       [0.53846154, 0.29543039, 0.21568627, ..., 0.08584114, 0.14190149,
        0.25      ],
       [0.701417  , 0.16365569, 0.52941176, ..., 0.07284986, 0.20582475,
        0.25      ],
       [0.73380567, 0.0031881 , 0.25490196, ..., 0.19602039, 0.12588792,
        0.5       ]])

In [ ]:
x_train_new = pd.DataFrame(x_train_norm, columns=x_train.columns)
x_test_new = pd.DataFrame(x_test_norm,columns=x_test.columns)

In [ ]:
x_train_new.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity
0,0.258097,0.507970,0.254902,0.112162,0.143234,0.075535,0.146358,0.289844,0.00
1,0.477733,0.435707,0.627451,0.026298,0.027933,0.017293,0.028449,0.200742,0.25
2,0.636640,0.167906,0.470588,0.098911,0.131440,0.051711,0.124651,0.218204,0.25
3,0.611336,0.162593,0.529412,0.060023,0.147114,0.077244,0.146851,0.119757,0.00
4,0.716599,0.053135,0.509804,0.046722,0.060677,0.036408,0.066272,0.210349,0.50

In [ ]:
x_test_new.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity
0,0.719636,0.026567,0.372549,0.024391,0.042986,0.014630,0.041605,0.185094,0.50
1,0.309717,0.581296,0.019608,0.162801,0.173029,0.093164,0.157211,0.274976,0.25
2,0.628543,0.146652,0.588235,0.094842,0.132216,0.064744,0.131557,0.187846,0.00
3,0.230769,0.573858,0.568627,0.031996,0.042675,0.019731,0.036178,0.164970,0.75
4,0.248988,0.579171,0.058824,0.055166,0.092489,0.025926,0.075645,0.248390,0.25

# Model Training and structure

In [ ]:
model = Sequential([
    Dense(1000, input_shape =[x_train_new.shape[1],], activation='relu'),
    Dense(500, activation='relu'),
    Dense(250,activation='relu'),
    Dense(1,activation='linear')
])

/usr/local/lib/python3.10/dist-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [ ]:
model.summary()

Model: "sequential_1"

 Layer (type)                          Output Shape                         Param #

 dense_8 (Dense)                       (None, 1000)                          10,000

 dense_9 (Dense)                       (None, 500)                          500,500

 dense_10 (Dense)                      (None, 250)                          125,250

 dense_11 (Dense)                      (None, 1)                                251

 Total params: 636,001 (2.43 MB)

 Trainable params: 636,001 (2.43 MB)

 Non-trainable params: 0 (0.00 B)

In [ ]:
model.compile(optimizer='rmsprop', loss='mse', metrics=['mae'])
es = EarlyStopping(monitor='val_loss',mode = 'min', patience = 5, restore_best_weights=True)

In [ ]:
history = model.fit(x_train_new,y_train, validation_data=(x_test_new,y_test), callbacks=[es], epochs=100,batch_size=50, verbose=1)

Epoch 1/100
327/327  7s 17ms/step - loss: 41153519616.0000 - mae: 166780.3906 - val_loss: 11511696384.0000 - val_mae: 86475.6797
Epoch 2/100
327/327  8s 11ms/step - loss: 10403513344.0000 - mae: 80905.3047 - val_loss: 8213374464.0000 - val_mae: 71855.4766
Epoch 3/100
327/327  5s 16ms/step - loss: 7010713088.0000 - mae: 64901.7539 - val_loss: 6133332992.0000 - val_mae: 58027.9922
Epoch 4/100
327/327  8s 11ms/step - loss: 5913736192.0000 - mae: 56695.4961 - val_loss: 5897792512.0000 - val_mae: 56917.8320
Epoch 5/100
327/327  5s 16ms/step - loss: 5582024192.0000 - mae: 54822.5273 - val_loss: 5727424512.0000 - val_mae: 55539.2031
Epoch 6/100
327/327  4s 11ms/step - loss: 5610582528.0000 - mae: 54516.2344 - val_loss: 5540525056.0000 - val_mae: 54340.1523
Epoch 7/100
327/327  4s 12ms/step - loss: 5397861888.0000 - mae: 53725.0430 - val_loss: 5407119872.0000 - val_mae: 54277.4023
Epoch 8/100
327/327  7s 17ms/step - loss: 5243586048.0000 - mae: 52631.7227 - val_loss: 5284473856.0000 - val_mae: 54046.5508
Epoch 9/100
327/327  9s 12ms/step - loss: 5142397952.0000 - mae: 51858.4492 - val_loss: 5081725440.0000 - val_mae: 51149.1641
Epoch 10/100
327/327  7s 18ms/step - loss: 4920232448.0000 - mae: 50444.8320 - val_loss: 4980407296.0000 - val_mae: 49805.2109
Epoch 11/100
327/327  8s 12ms/step - loss: 4795037184.0000 - mae: 49433.2773 - val_loss: 5107926528.0000 - val_mae: 48947.6094
Epoch 12/100
327/327  5s 17ms/step - loss: 4559054336.0000 - mae: 48295.5820 - val_loss: 4707630080.0000 - val_mae: 48837.3945
Epoch 13/100
327/327  4s 12ms/step - loss: 4539532288.0000 - mae: 48170.4062 - val_loss: 4649284096.0000 - val_mae: 49878.6836
Epoch 14/100
327/327  5s 12ms/step - loss: 4530765824.0000 - mae: 47730.1133 - val_loss: 4572474880.0000 - val_mae: 47764.8711
Epoch 15/100
327/327  6s 14ms/step - loss: 4469107200.0000 - mae: 47246.0430 - val_loss: 4520473088.0000 - val_mae: 48844.4219
Epoch 16/100
327/327  4s 11ms/step - loss: 4397289472.0000 - mae: 46777.3438 - val_loss: 4486838272.0000 - val_mae: 47647.4922
Epoch 17/100
327/327  6s 14ms/step - loss: 4474455040.0000 - mae: 46821.2188 - val_loss: 4485105664.0000 - val_mae: 47348.8828
Epoch 18/100
327/327  4s 13ms/step - loss: 4422514688.0000 - mae: 46736.3828 - val_loss: 4528176640.0000 - val_mae: 46524.5664
Epoch 19/100
327/327  4s 11ms/step - loss: 4378339328.0000 - mae: 46303.4102 - val_loss: 4516527616.0000 - val_mae: 49398.7266
Epoch 20/100
327/327  6s 15ms/step - loss: 4563630080.0000 - mae: 47379.6250 - val_loss: 4404939776.0000 - val_mae: 47068.6328
Epoch 21/100
327/327  4s 11ms/step - loss: 4417602048.0000 - mae: 46850.6367 - val_loss: 4432519680.0000 - val_mae: 46546.6445
Epoch 22/100
327/327  5s 11ms/step - loss: 4462178304.0000 - mae: 46763.9805 - val_loss: 4406645248.0000 - val_mae: 48057.9258
Epoch 23/100
327/327  7s 16ms/step - loss: 4291742976.0000 - mae: 46366.0938 - val_loss: 4495629824.0000 - val_mae: 46318.9492
Epoch 24/100
327/327  4s 11ms/step - loss: 4248004608.0000 - mae: 45798.3281 - val_loss: 4432984064.0000 - val_mae: 46595.7266
Epoch 25/100
327/327  5s 12ms/step - loss: 4350544896.0000 - mae: 46389.1484 - val_loss: 4373960704.0000 - val_mae: 47827.2383
Epoch 26/100
327/327  6s 13ms/step - loss: 4224754432.0000 - mae: 45997.7695 - val_loss: 4350337024.0000 - val_mae: 47026.5977
Epoch 27/100
327/327  4s 11ms/step - loss: 4271054336.0000 - mae: 46069.5273 - val_loss: 4338523136.0000 - val_mae: 47187.9531
Epoch 28/100
327/327  6s 15ms/step - loss: 4351561728.0000 - mae: 46233.0156 - val_loss: 4348268032.0000 - val_mae: 47010.1875
Epoch 29/100
327/327  4s 11ms/step - loss: 4284252160.0000 - mae: 45907.2500 - val_loss: 4377819136.0000 - val_mae: 47951.2500
Epoch 30/100
327/327  4s 11ms/step - loss: 4216398336.0000 - mae: 45633.7227 - val_loss: 4321398272.0000 - val_mae: 47088.1484
Epoch 31/100
327/327  7s 16ms/step - loss: 4380764160.0000 - mae: 46581.9531 - val_loss: 4350525952.0000 - val_mae: 47765.5039
Epoch 32/100
327/327  9s 11ms/step - loss: 4273989376.0000 - mae: 45863.1523 - val_loss: 4305025536.0000 - val_mae: 46675.3125
Epoch 33/100
327/327  6s 16ms/step - loss: 4201613056.0000 - mae: 45425.7734 - val_loss: 4303844864.0000 - val_mae: 46406.9844
Epoch 34/100
327/327  4s 12ms/step - loss: 4192207872.0000 - mae: 45509.0977 - val_loss: 4364027392.0000 - val_mae: 45794.7656
Epoch 35/100
327/327  4s 11ms/step - loss: 4234121472.0000 - mae: 45495.1875 - val_loss: 4286950144.0000 - val_mae: 46959.1719
Epoch 36/100
327/327  6s 15ms/step - loss: 4217567744.0000 - mae: 45652.5938 - val_loss: 4303876608.0000 - val_mae: 47165.7656
Epoch 37/100
327/327  4s 12ms/step - loss: 4154053888.0000 - mae: 45335.3320 - val_loss: 4287691520.0000 - val_mae: 46080.5273
Epoch 38/100
327/327  4s 12ms/step - loss: 4204315648.0000 - mae: 45310.4297 - val_loss: 4254600960.0000 - val_mae: 45974.6562
Epoch 39/100
327/327  5s 16ms/step - loss: 4244624896.0000 - mae: 45798.4453 - val_loss: 4253288704.0000 - val_mae: 46628.3789
Epoch 40/100
327/327  4s 11ms/step - loss: 4128550912.0000 - mae: 45081.6445 - val_loss: 4391158784.0000 - val_mae: 45383.5234
Epoch 41/100
327/327  5s 11ms/step - loss: 4277939456.0000 - mae: 45487.6172 - val_loss: 4248149248.0000 - val_mae: 45547.6328
Epoch 42/100
327/327  5s 16ms/step - loss: 4069346560.0000 - mae: 44361.8750 - val_loss: 4215979776.0000 - val_mae: 45502.0352
Epoch 43/100
327/327  9s 11ms/step - loss: 4189016832.0000 - mae: 45378.5781 - val_loss: 4226876160.0000 - val_mae: 46616.1602
Epoch 44/100
327/327  6s 14ms/step - loss: 3999874048.0000 - mae: 44415.7070 - val_loss: 4217671424.0000 - val_mae: 45606.2695
Epoch 45/100
327/327  4s 12ms/step - loss: 4112345088.0000 - mae: 45033.8359 - val_loss: 4186705664.0000 - val_mae: 45413.5820
Epoch 46/100
327/327  6s 14ms/step - loss: 4007052032.0000 - mae: 44574.7500 - val_loss: 4334871552.0000 - val_mae: 44897.4883
Epoch 47/100
327/327  4s 13ms/step - loss: 4139780352.0000 - mae: 44753.1250 - val_loss: 4225457664.0000 - val_mae: 44786.9023
Epoch 48/100
327/327  4s 11ms/step - loss: 4067905280.0000 - mae: 44471.6172 - val_loss: 4171202048.0000 - val_mae: 45113.4062
Epoch 49/100
327/327  6s 15ms/step - loss: 4071887872.0000 - mae: 44612.4688 - val_loss: 4326046720.0000 - val_mae: 44610.1953
Epoch 50/100
327/327  4s 13ms/step - loss: 4215040256.0000 - mae: 45361.9062 - val_loss: 4160654848.0000 - val_mae: 45905.9180
Epoch 51/100
327/327  4s 11ms/step - loss: 4008476416.0000 - mae: 44387.8281 - val_loss: 4255261440.0000 - val_mae: 44659.9727
Epoch 52/100
327/327  7s 16ms/step - loss: 4087745024.0000 - mae: 44498.2188 - val_loss: 4128362240.0000 - val_mae: 44780.1719
Epoch 53/100
327/327  4s 11ms/step - loss: 4261417472.0000 - mae: 45341.4805 - val_loss: 4130960640.0000 - val_mae: 45424.6914
Epoch 54/100
327/327  5s 11ms/step - loss: 4014555392.0000 - mae: 44336.0039 - val_loss: 4150195968.0000 - val_mae: 45221.5469
Epoch 55/100
327/327  6s 15ms/step - loss: 4119970560.0000 - mae: 44305.7969 - val_loss: 4171568384.0000 - val_mae: 44447.2891
Epoch 56/100
327/327  4s 11ms/step - loss: 4134819840.0000 - mae: 44662.3555 - val_loss: 4127252992.0000 - val_mae: 45934.4258
Epoch 57/100
327/327  4s 11ms/step - loss: 4157753088.0000 - mae: 44792.4570 - val_loss: 4151775232.0000 - val_mae: 44100.9336
Epoch 58/100
327/327  6s 16ms/step - loss: 3995521280.0000 - mae: 43956.8242 - val_loss: 4324490240.0000 - val_mae: 44379.9297
Epoch 59/100
327/327  4s 11ms/step - loss: 4085477376.0000 - mae: 44331.0938 - val_loss: 4122676480.0000 - val_mae: 44255.5938
Epoch 60/100
327/327  4s 11ms/step - loss: 4076523520.0000 - mae: 44578.9688 - val_loss: 4084289280.0000 - val_mae: 45179.0156
Epoch 61/100
327/327  6s 15ms/step - loss: 4110234880.0000 - mae: 44124.0391 - val_loss: 4126118400.0000 - val_mae: 45845.7695
Epoch 62/100
327/327  4s 11ms/step - loss: 3908193280.0000 - mae: 43768.8984 - val_loss: 4070593024.0000 - val_mae: 45206.4141
Epoch 63/100
327/327  4s 11ms/step - loss: 3932573696.0000 - mae: 43851.4531 - val_loss: 4331260416.0000 - val_mae: 44335.9922
Epoch 64/100
327/327  6s 14ms/step - loss: 4126341632.0000 - mae: 44534.3828 - val_loss: 4328534016.0000 - val_mae: 44225.5000
Epoch 65/100
327/327  4s 11ms/step - loss: 3958703104.0000 - mae: 43774.4844 - val_loss: 4135308800.0000 - val_mae: 46626.3008
Epoch 66/100
327/327  6s 13ms/step - loss: 4007219456.0000 - mae: 44235.0547 - val_loss: 4022453504.0000 - val_mae: 44314.8164
Epoch 67/100
327/327  5s 11ms/step - loss: 4026308352.0000 - mae: 43981.5977 - val_loss: 4175660032.0000 - val_mae: 46463.5938
Epoch 68/100
327/327  5s 11ms/step - loss: 3943380992.0000 - mae: 43840.3477 - val_loss: 4018810112.0000 - val_mae: 44597.4023
Epoch 69/100
327/327  5s 16ms/step - loss: 4154496768.0000 - mae: 44758.0508 - val_loss: 4017514496.0000 - val_mae: 43861.7852
Epoch 70/100
327/327  4s 11ms/step - loss: 3986490112.0000 - mae: 43796.9844 - val_loss: 4075116032.0000 - val_mae: 43737.2344
Epoch 71/100
327/327  5s 11ms/step - loss: 3937758976.0000 - mae: 43850.2852 - val_loss: 4032311296.0000 - val_mae: 45421.3242
Epoch 72/100
327/327  5s 16ms/step - loss: 4032261632.0000 - mae: 44017.4062 - val_loss: 4001593600.0000 - val_mae: 44290.2891
Epoch 73/100
327/327  4s 11ms/step - loss: 4054016768.0000 - mae: 44012.8398 - val_loss: 4223092736.0000 - val_mae: 43893.1836
Epoch 74/100
327/327  5s 11ms/step - loss: 3945049088.0000 - mae: 43389.0664 - val_loss: 3990251264.0000 - val_mae: 44218.7500
Epoch 75/100
327/327  5s 15ms/step - loss: 4117927680.0000 - mae: 44364.5508 - val_loss: 3981291520.0000 - val_mae: 44033.0703
Epoch 76/100
327/327  4s 11ms/step - loss: 3828134656.0000 - mae: 43269.4609 - val_loss: 3953748736.0000 - val_mae: 44276.1328
Epoch 77/100
327/327  5s 11ms/step - loss: 3893344000.0000 - mae: 43751.3789 - val_loss: 3973081088.0000 - val_mae: 44110.6055
Epoch 78/100
327/327  5s 16ms/step - loss: 3966941696.0000 - mae: 44006.6641 - val_loss: 3956228608.0000 - val_mae: 44381.1133
Epoch 79/100
327/327  8s 11ms/step - loss: 3997388288.0000 - mae: 43932.0352 - val_loss: 3996174080.0000 - val_mae: 43598.6055
Epoch 80/100
327/327  5s 16ms/step - loss: 3777309184.0000 - mae: 43067.8867 - val_loss: 3940963584.0000 - val_mae: 43624.2461
Epoch 81/100
327/327  9s 11ms/step - loss: 3995060480.0000 - mae: 43969.9141 - val_loss: 3930193408.0000 - val_mae: 43857.9023
Epoch 82/100
327/327  5s 16ms/step - loss: 3981056256.0000 - mae: 43774.0625 - val_loss: 3924865536.0000 - val_mae: 43678.2383
Epoch 83/100
327/327  9s 11ms/step - loss: 3824036864.0000 - mae: 42886.3750 - val_loss: 3965358848.0000 - val_mae: 43199.2422
Epoch 84/100
327/327  5s 15ms/step - loss: 3816873216.0000 - mae: 42838.4141 - val_loss: 3905678848.0000 - val_mae: 44030.2227
Epoch 85/100
327/327  4s 11ms/step - loss: 3813319168.0000 - mae: 43157.8633 - val_loss: 3923362304.0000 - val_mae: 43245.0273
Epoch 86/100
327/327  5s 11ms/step - loss: 3910152704.0000 - mae: 43575.4492 - val_loss: 3926858240.0000 - val_mae: 43147.4844
Epoch 87/100
327/327  6s 13ms/step - loss: 3661101568.0000 - mae: 42336.2656 - val_loss: 4007080192.0000 - val_mae: 43163.8203
Epoch 88/100
327/327  5s 11ms/step - loss: 3837083136.0000 - mae: 43062.0977 - val_loss: 3895006720.0000 - val_mae: 42937.2109
Epoch 89/100
327/327  4s 12ms/step - loss: 3777883136.0000 - mae: 42698.0742 - val_loss: 4068800256.0000 - val_mae: 46665.9648
Epoch 90/100
327/327  5s 14ms/step - loss: 3794792192.0000 - mae: 42751.1367 - val_loss: 3900467456.0000 - val_mae: 44646.4219
Epoch 91/100
327/327  4s 11ms/step - loss: 3867881472.0000 - mae: 43106.8906 - val_loss: 3854621184.0000 - val_mae: 42801.3281
Epoch 92/100
327/327  6s 13ms/step - loss: 3791925760.0000 - mae: 42690.6680 - val_loss: 3868794368.0000 - val_mae: 43324.8281
Epoch 93/100
327/327  4s 14ms/step - loss: 3735636480.0000 - mae: 42364.0430 - val_loss: 3856785664.0000 - val_mae: 43400.8672
Epoch 94/100
327/327  4s 11ms/step - loss: 3819364608.0000 - mae: 42844.9375 - val_loss: 4040208384.0000 - val_mae: 43168.1211
Epoch 95/100
327/327  4s 12ms/step - loss: 3695587584.0000 - mae: 42278.8672 - val_loss: 3847193856.0000 - val_mae: 42684.6992
Epoch 96/100
327/327  5s 11ms/step - loss: 3782277888.0000 - mae: 42681.6836 - val_loss: 3881340416.0000 - val_mae: 42650.8281
Epoch 97/100
327/327  5s 11ms/step - loss: 3689404416.0000 - mae: 42145.6641 - val_loss: 3811733504.0000 - val_mae: 43393.5664
Epoch 98/100
327/327  7s 16ms/step - loss: 3727298816.0000 - mae: 42401.8203 - val_loss: 3905057536.0000 - val_mae: 43718.3477
Epoch 99/100
327/327  4s 11ms/step - loss: 3628547584.0000 - mae: 41955.0625 - val_loss: 3838206464.0000 - val_mae: 44110.3477
Epoch 100/100
327/327  5s 11ms/step - loss: 3689093888.0000 - mae: 42388.5391 - val_loss: 3811374848.0000 - val_mae: 42738.0000

In [ ]:
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error,mean_squared_log_error
y_pred = model.predict(x_test_new)

128/128  1s 5ms/step

In [ ]:
print("mae :", mean_absolute_error(y_test,y_pred))
print("mse :", mean_squared_error(y_test,y_pred))
print("mae :", mean_squared_log_error(y_test,y_pred))
print("score :", r2_score(y_test,y_pred))

mae : 42738.0055568724
mse : 3811373671.7929077
mae : 0.08545286412255854
score : 0.7212926299532918

In [ ]:
score = r2_score(y_pred,y_test)
print(score)

0.5943521441305877